@font-face {
	font-family: defined;
	src: url(../font/font.ttf);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: antialiased;
}
header {
	float: center;
	text-align: center;
	font-family: defined;
}
nav {
	float: left;
	text-align: left;
	border: 5px;
	border-color: white;
	border-style: solid;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
body {
	background-color: black;
	font-family: defined;
	color: white;
	font-size: 20px;
	/*被某人吐槽很丑的阴影*/
	text-shadow: 1px 1px 0px rgb(172, 172, 172);

}
a {
	color: yellow;
	text-decoration:none;
}
b {
	color: red;
}
section {
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
}
q {
	text-align: right;
	color: gray;
}
div {
	padding-left: 10px;
	padding-right: 10px;
}
code {
	background-color: rgb(71, 71, 71);
	width: 1200px;
	font-family: Arial, Helvetica, sans-serif;
	text-shadow: 0px 0px 0px rgb(172, 172, 172);
}
img {
	margin-top: 10px;
	margin-bottom: 10px;
}
.font {
	/* 自定义字体*/
	font-family: defined;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: antialiased;
	color: white;
	font-size: 20px;
}
.jsshow {
	padding: 20px;
	margin: 10px;
	float: center;
	background-color: rgba(0, 255, 255, 0.295);
}

